HOST_BIND="0.0.0.0"
HOST_PORT="25000"
CONTAINER_PORT="25000"

DB_HOST="1.1.1.1"
DB_PORT="1111"
DB_USERNAME="osrs_watcher"
DB_PASSWORD="a_super_strong_secury_password"
DB_DATABASE="osrs_db"

USER_AGENT="contact@your.email.com"

DEFAULT_FALL_THRESHOLD="20.0"
MIN_ALLOWED_THRESHOLD="5.0"
CHECK_INTERVAL="5"
CHECK_INTERVAL_RAW="5"
TTL_FORCED_UPDATE="60"

ANALYTICS_URL=https://umami.url/script.js
ANALYTICS_UUID=UUID
